{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'blogs:home_page' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'sharephoto:share_photo'%}">explore_photos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'blogs:profile_page'%}">Profile</a>
            </li>
            {%if user.is_authenticated%}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'blogs:logout_page' %}">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'blogs:new_blog' %}">New Blog</a>
            </li>
            {%else%}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'blogs:login_page'%}">Login</a>
            </li>
            {%endif%}
          </ul>
        </div>
      </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
              {% if messages%}
              {% for message in messages%}
              <div class="alert alert-success" role="alert">
                {{message}}
              </div>
              {%endfor%}
              {%endif%}
                {%block content%}
                {%endblock content%}

            </div>
            <div class="col-2"></div>

        </div>

    </div>
<footer style="background-color: darkslategrey;">
  <p>yet to come</p>
</footer>    
</body>
</html>